html,
body {
  height: 100%; }

.container {
  max-width: 1280px; }

.main {
  min-height: 100%; }

body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #4a4a4a;
  background-color: #f0f0f0; }
  body.overflow {
    overflow: hidden; }
  body ::-moz-selection {
    background-color: rgba(30, 144, 255, 0.2); }
  body ::selection {
    background-color: rgba(30, 144, 255, 0.2); }
  body a {
    color: #4a4a4a; }
    body a:hover {
      color: #020202; }
  body .btn {
    color: #4a4a4a;
    border: none; }
  body .btn-primary {
    color: #fff;
    background-color: #f66238; }
    body .btn-primary:hover {
      background-color: #E4613B; }

h5 {
  margin: 0; }

hr {
  margin: 0;
  border-top: 1px solid #bfbfbf; }

button {
  background-color: #fff; }

input, textarea {
  outline: none; }

.form-control {
  border-radius: 20px;
  text-indent: 10px; }

.dropdown-divider {
  margin: 0; }

.font-type-black-56 {
  color: #000000;
  font-size: 56px; }

.font-type-black-44 {
  color: #000000;
  font-size: 44px; }

.font-type-dark-40 {
  color: #020202;
  font-size: 40px; }

.font-type-black-36 {
  color: #000000;
  font-size: 36px; }

.font-type-black-31 {
  color: #000000;
  font-size: 31px; }

.color-orange {
  color: #f66238; }

.color-muted {
  color: #948f8f;
  font-size: 15px; }

.topic-grey {
  font-size: 60px;
  color: #4a4a4a; }

.font-type-grey-50 {
  color: #4a4a4a;
  font-size: 50px; }

.font-type-grey-40 {
  color: #4a4a4a;
  font-size: 40px; }

.font-type-grey-30 {
  color: #4a4a4a;
  font-size: 30px; }

.font-type-grey-29 {
  color: #777777;
  font-size: 29px; }

.font-type-grey-20 {
  color: #777777;
  font-size: 20px; }

@-webkit-keyframes benim_fadeInDown_2 {
  0% {
    visibility: hidden; }
  to {
    visibility: visible; } }

@-moz-keyframes benim_fadeInDown_2 {
  0% {
    visibility: hidden; }
  to {
    visibility: visible; } }

@-o-keyframes benim_fadeInDown_2 {
  0% {
    visibility: hidden; }
  to {
    visibility: visible; } }

@keyframes benim_fadeInDown_2 {
  0% {
    visibility: hidden; }
  to {
    visibility: visible; } }

.fadeInDown_2 {
  -webkit-animation-name: benim_fadeInDown_2;
  -moz-animation-name: benim_fadeInDown_2;
    -o-animation-name: benim_fadeInDown_2;
       animation-name: benim_fadeInDown_2; }

@-webkit-keyframes benim_fadeOutUp_2 {
  from {
    visibility: visible; }
  to {
    visibility: hidden; } }

@-moz-keyframes benim_fadeOutUp_2 {
  from {
    visibility: visible; }
  to {
    visibility: hidden; } }

@-o-keyframes benim_fadeOutUp_2 {
  from {
    visibility: visible; }
  to {
    visibility: hidden; } }

@keyframes benim_fadeOutUp_2 {
  from {
    visibility: visible; }
  to {
    visibility: hidden; } }

.fadeOutUp_2 {
  -webkit-animation-name: benim_fadeOutUp_2;
  -moz-animation-name: benim_fadeOutUp_2;
    -o-animation-name: benim_fadeOutUp_2;
       animation-name: benim_fadeOutUp_2; }

.content {
  margin: 0 auto;
  margin-top: 80px; }

header {
  background-color: #fff; }

.box {
  background-color: #fff;
  border: 1px solid #bfbfbf; }
  .box .option-wrapper {
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between; }
    .box .option-wrapper label {
      cursor: pointer; }
    .box .option-wrapper label input {
      position: absolute;
      opacity: 0; }
    .box .option-wrapper label span {
      display: block;
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 250px;
      text-align: center;
      border: 2px solid #bfbfbf; }
    .box .option-wrapper label.checked span {
      border: 2px solid #f66238; }
  .box .btn-primary {
    border-radius: 20px; }